<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <title><%= title%></title>
    <link rel="icon" type="image/x-icon" href="/picture-svgrepo-com.svg" />
  </head>
  <body>
    <div class="container"><%- include("navbar") %> <%- include("form") %></div>
  </body>
</html>
